<div class="container background">
    <% @recipes.each do |recipe| %>
        <div class="card mb-3" style="width: 100%;">
          <div class="row no-gutters">
            <div class="col-md-4">
                <a href="/recipes/<%= recipe.id %>">
                  <img src="<%= recipe.image %>" class="card-img">
                 </a>
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title"><%= recipe.name %></h5>
                <p class="card-text"><%= recipe.blurb %></p>
                <p class="card-text">
                    <img src="<%= asset_path("timer.png") %>" style="width: 35px;"><%= recipe.time %> Minutes
                </p>
                <p class="card-text">
                    <img src="<%= asset_path("yield.png") %>" style="width: 35px;"><%= recipe.yield %>
                </p>
                <p class="card-text">
                    <%= link_to "Show Recipe", recipe, class: "btn btn-info" %>
                </p>
              </div>
            </div>
          </div>
        </div>
    <% end %>
</div>