<p id="notice"><%= notice %></p>

<h1>Dinners</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total time</th>
      <th>Yields</th>
      <th>Ingredients</th>
      <th>Instructions</th>
      <th>Image</th>
      <th>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dinners.each do |dinner| %>
      <tr>
        <td><%= dinner.title %></td>
        <td><%= dinner.total_time %></td>
        <td><%= dinner.yields %></td>
        <td><%= dinner.ingredients %></td>
        <td><%= dinner.instructions %></td>
        <td><%= dinner.image %></td>
        <td><%= dinner.host %></td>
        <td><%= link_to 'Show', dinner %></td>
        <td><%= link_to 'Edit', edit_dinner_path(dinner) %></td>
        <td><%= link_to 'Destroy', dinner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dinner', new_dinner_path %>
