<p id="notice"><%= notice %></p>

<h1>Breakfast Recipes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Total time</th>
      <th>Yields</th>
      <th>Ingredients</th>
      <th>Image</th>
      <th>Host</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @breakfast_recipes.each do |breakfast_recipe| %>
      <tr>
        <td><%= breakfast_recipe.title %></td>
        <td><%= breakfast_recipe.total_time %></td>
        <td><%= breakfast_recipe.yields %></td>
        <td><%= breakfast_recipe.ingredients %></td>
        <td><%= breakfast_recipe.image %></td>
        <td><%= breakfast_recipe.host %></td>
        <td><%= link_to 'Show', breakfast_recipe %></td>
        <td><%= link_to 'Edit', edit_breakfast_recipe_path(breakfast_recipe) %></td>
        <td><%= link_to 'Destroy', breakfast_recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Breakfast Recipe', new_breakfast_recipe_path %>
