    <div class="container background">
      <div class="row recipe-items">
      <% @recipes.each do |recipe| %>
        <div class="recipe-item  col-md-4" style="padding: 25px;">
          <!--<div class="card-deck card-text" style="padding: 15px;"> -->
              <div class="card text-white">
                  <img src="<%= recipe.image %>" class="card-img-top">
                  <div class="container-fluid">
                    <div class="row blue1">
                      <div class="col">
                        <h5 class="card-title text-center"><%= recipe.name %></h5>
                      </div>
                    </div>
                    <div class="row blue2">
                      <div class="col-5">
                        <img src=<%= asset_path('timer.png') %>>
                        <%= recipe.time %> m
                      </div>
                      <div class="col-7">
                        <img src=<%= asset_path('yield.png') %>>
                        <%= recipe.yield %>
                      </div>
                    </div>
                  </div>
                  <a href="/recipes/<%= recipe.id %>" class="btn btn-primary text-white">Show Recipe</a>
              </div>
          <!--</div>-->
        </div>
       <% end %>
      </div>
    </div>