<div class="container background">
  <table class="table">
    <tbody>
      <tr>
        <td colspan="2"><h1><%= @recipe.name %></h1></td>
      </tr>
      <tr>
        <td><img src="<%= @recipe.image %>" width="300" height="300"</img></td>
        <td>
          <h3>Ingredients:</h3>
          <ul>
          <% @ingredients_array.each do |ingredient| %>
            <li><%= ingredient %></li>
          <% end %>
          </ul>
          <h3>Instructions:</h3>
          <ol>
            <% @instructions_array.each do |step| %>
            <li><%= step %></li>
            <% end %>
          </ol>
          <h5 style="display: inline;">Time: </h5><%= @recipe.time %> Minutes<br>
          <h5 style="display: inline;">Yields: </h5><%= @recipe.yield %></br>
          <a class="btn btn-dark" style="margin-top: 15px;" href="<%= @recipe.link %>" role="button">Link to recipe website</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>