<div class="container background antique-white" style="margin-top: 25px;">
  <h1 class="text-center" style="color: white;
    font-family: 'Bodoni MT';
   text-shadow: 1px 1px 4px #94927f;">What's In Your Fridge?</h1>
  
  
  
  <%= form_tag('/find_recipe/query', :method => :get) do %>
  <div class="row">
    <div class="col text-background" style="margin-top: 0px; margin-bottom: 0px; margin-left: 10px;">
      <div class="row">
        <h5>Food Restrictions</h5>
      </div>
      <% @restrictions.each_with_index do |restriction, i| %>
      <div class="row">
        <% if i == 0 %>
          <div class="col-2">
            <%= radio_button_tag(:restriction, @restrictions_values[i], checked: "checked") %>
          </div>
        <% else %>
          <div class="col-2">
            <%= radio_button_tag(:restriction, @restrictions_values[i]) %>
          </div>
        <% end %>
        <div class="col">
          <%= label_tag(:restriction, restriction) %>
        </div>
      </div>
      <% end %>
    </div>
    
    
    
    <div class="col-10">
      <div class="accordion" id="ingredients">
          <% @ingredients.each_with_index do |ingredient, index| %>
            <div class="card">
              <div class="card-header" id="heading<%= index %>">
                <h2 class="mb-0">
                  <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                    <img src="<%= asset_path(@images[index]) %>" width="35px"> <%= @ingredients_name[index] %>
                  </button>
                </h2>
              </div>
              
              <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#ingredients">
                <div class="card-body">
                    <% ingredient.each do |i| %>
                      <%= check_box_tag(:ingredient, i[0]) %>
                      <%= label_tag(:ingredient, i[0]) %>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= submit_tag("Search", :class => "btn btn-primary btn-lg", :style => "width: 100%; margin-top: 20px;") %>
    <% end %>
</div>