<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container background">
  <h2>Add a New Recipe</h2>
  <div class="field">
    <%= f.label :name, "What is the name of this recipe?
    " %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :types, "What type ofmMeal does this recipe create?
    Please choose between Breakfast, Lunch, Dinner, Snack, or Dessert
    " %>
    <%= f.text_field :types %>
  </div>

  <div class="field">
    <%= f.label :restrictions,"Are there any dietary restrictions this recipe follows?
    Type 'xx' for none, 'vt' for vegetarian, 'v' for vegan, 'df' for dairy free, and 'gf' for gluten free
    " %>
    <%= f.text_field :restrictions %>
  </div>

  <div class="field">
    <%= f.label :time,"How long dos this recipe take to make?
    " %>
    <%= f.number_field :time %>
  </div>

  <div class="field">
    <%= f.label :yield, "How many servings does this recipe make in minutes?
    " %>
    <%= f.text_field :yield %>
  </div>

  <div class="field">
    <%= f.label :ingredients,"What are the ingredients?
    Please use this format: Amount Ingredient, Amount Ingredient...
    " %>
    <%= f.text_field :ingredients %>
  </div>

  <div class="field">
    <%= f.label :instructions,"What are the instructions for this recipe?
    Please separate each step with a comma.
    " %>
    <%= f.text_field :instructions %>
  </div>

  <div class="field">
    <%= f.label :image,"Please paste a link to an image of the recipe here.
    " %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :link,"If you have found this recipe from another website, please link it here.
    " %>
    <%= f.text_field :link %>
  </div>

  <div class="field">
    <%= f.label :blurb,"Please add a short story or little blurb about your recipe here.
    " %>
    <%= f.text_field :blurb %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>