<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label : "Recipe Name" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label : "Type Of Meal" %>
    <%= f.text_field :types %>
  </div>

  <div class="field">
    <%= f.label :"Dietary Restrictions" %>
    <%= f.text_field :restrictions %>
  </div>

  <div class="field">
    <%= f.label :"How Long Does it Take To Make?" %>
    <%= f.number_field :time %>
  </div>

  <div class="field">
    <%= f.label : "How Servings Come Out Of This?" %>
    <%= f.text_field :yield %>
  </div>

  <div class="field">
    <%= f.label :"What are the ingredients? Please use This format: Amount Ingredient, Amount Ingredient..." %>
    <%= f.text_field :ingredients %>
  </div>

  <div class="field">
    <%= f.label :"What are the instructions for this recipe? Please separate each step with commas" %>
    <%= f.text_field :instructions %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :"If you have found this recipe from another website, please link it here" %>
    <%= f.text_field :link %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
