    <div class="container background ">
      <div class="row recipe-items">
      <% @recipes.each do |recipe| %>
        <div class="recipe-item  col-md-4" style="padding: 25px;">
          <!--<div class="card-deck card-text" style="padding: 15px;"> -->
              <div class="card">
                  <img src="<%= recipe.image %>" height = 300px class="card-img-top">
                  <div class="container-fluid">
                    <div class="row white">
                      <div class="col">
                        <h5 class="card-title text-center text-info" ><%= recipe.name %></h5>
                      </div>
                    </div>
                    <div class="row white">
                      <div class="col">
                        <h6 class="card-title text-center text-info"><%= recipe.blurb %></h6>
                      </div>
                    </div>
                    <div class="row blue2 text-white">
                      <div class="col-5">
                        <img src=<%= asset_path('timer.png' ) %> width = 35px>
                        <%= recipe.time %> m
                      </div>
                      <div class="col-7">
                        <img src=<%= asset_path('yield.png') %> width = 35px>
                        <%= recipe.yield %>
                      </div>
                    </div>
                    <div class="row blue2">
                      <div class="col text-center" style="padding-top: 5px; padding-bottom: 5px;">
                        <a href="/recipes/<%= recipe.id %>" class="btn btn-outline-light" > Show Recipe</a>
                      </div>
                    </div>
                  </div>
              </div>
          <!--</div>-->
        </div>
       <% end %>
      </div>
    </div>