<div class="container background antique-white" style="margin-top: 25px;">
  <h1 class="text-center">What's In Your Fridge?</h1>
  
  
  <div class="accordiion" id="ingredients">
    <%= form_tag('/find_recipe/query', :method => :get) do %>
      <% @ingredients.each_with_index do |ingredient, index| %>
        <div class="card">
          <div class="card-header" id="heading<%= index %>">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse<%= index %>" aria-expanded="true" aria-controls="collapse<%= index %>">
                <img src="<%= asset_path(@images[index]) %>"> <%= @ingredients_name[index] %>
              </button>
            </h2>
          </div>
          
          <div id="collapse<%= index %>" class="collapse" aria-labelledby="heading<%= index %>" data-parent="#ingredients">
            <div class="card-body">
                <% ingredient.each do |i| %>
                  <%= check_box_tag(:ingredient, i[0]) %>
                  <%= label_tag(:ingredient, i[0]) %>
                <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= submit_tag("Search", :class => "btn btn-primary btn-lg", :style => "width: 100%; margin-top: 20px;") %>
    <% end %>
</div>