<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RecipeWebsite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  </head>
  <body class="brown2">
    
    
    <div class="container-fluid">
       <nav class="row navbar navbar-expand-lg navbar-dark ">
          <a class="navbar-brand" href="/">
            <img src= <%= asset_path('Logo.png') %> height="45">

          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link text-white" href="/"  >Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Menu
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/recipes">All Recipes</a>
                  <a class="dropdown-item" href="/recipes/1000/breakfast">Breakfast</a>
                  <a class="dropdown-item" href="/recipes/2000/lunch">Lunch</a>
                  <a class="dropdown-item" href="/recipes/3000/dinner">Dinner</a>
                  <a class="dropdown-item" href="/recipes/4000/desert">Desert</a>
                  <a class="dropdown-item" href="/recipes/5000/snack">Snack</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/find_recipe">Fridge</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/about_us">About Us</a>
              </li>
            </ul>
            </div>
            <div class="ml-auto">
              <% if user_signed_in? %>
                <div class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Profile
                  </a>
                  <div class="dropdown-menu" aria-labelldby="navbarDropdown">
                    <%= link_to "Account", edit_user_registration_path, :class => "dropdown-item" %>
                    <%= link_to "logout", destroy_user_session_path, method: :delete, :class => "dropdown-item" %>
                  </div>
                </div>
              <% else %>
                <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#login">
                  Login
                </button>
                <div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginLable" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header text-white">
                        <h5 class="modal-title" id="login">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= form_for(:user, :url => session_path(:user)) do |f| %>
                          <div class="field">
                            <%= f.label :email %><br />
                            <%= f.text_field :email %>
                          </div>
                          
                          <div class="field">
                            <%= f.label :password %><br />
                            <%= f.password_field :password %>
                          </div>
              
                          <div class="field">
                            <%= f.check_box :remember_me %>
                            <%= f.label :remember_me %>
                          </div>
                          
                          <div class="actions" style="margin-bottom: 15px;">
                            <%= f.submit 'Sign in' %>
                          </div>
                          
                          <%= link_to "Forgot your password?", new_password_path(:user) %>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#signUp">
                  Sign Up
                </button>
                <div class="modal fade" id="signUp" tabindex="-1" aria-labelledby="loginLable" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header text-white">
                        <h5 class="modal-title" id="signUp">Sign Up</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <%= form_for(:user, :url => registration_path(:user)) do |f| %>
                          <div class="field">
                            <%= f.label :email %><br />
                            <%= f.text_field :email %>
                          </div>
                          
                          <div class="field">
                            <%= f.label :password %><br />
                            <%= f.password_field :password, autocomplete: "new-password" %>
                          </div>
              
                          <div class="field" style="margin-bottom: 15px;">
                            <%= f.label :password_confirmation %><br />
                            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
                          </div>
                          
                          <div class="actions">
                            <%= f.submit 'Sign Up' %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
                
              <% end %>
            </div>
        </nav>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <%= yield %>
    <footer style="padding-top: 48px; padding-bottom: 48px;">
      <div class="links">
        <a href="/about_us">About Us</a><br>
        <a href="/about_us">Contact Us</a>
      </div>
      <img src= <%= asset_path('Logo.png') %> height="45" align="left">
      <br><br>
      <h6 align="left">Copyright © 2020 SmileRecipes.com</h6>
      
      
    </footer>
    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>