<%= form_for(breakfast) do |f| %>
  <% if breakfast.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(breakfast.errors.count, "error") %> prohibited this breakfast from being saved:</h2>

      <ul>
      <% breakfast.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :total_time %>
    <%= f.number_field :total_time %>
  </div>

  <div class="field">
    <%= f.label :yields %>
    <%= f.number_field :yields %>
  </div>

  <div class="field">
    <%= f.label :ingredients %>
    <%= f.text_field :ingredients %>
  </div>

  <div class="field">
    <%= f.label :instructions %>
    <%= f.text_field :instructions %>
  </div>

  <div class="field">
    <%= f.label :image %>
    <%= f.text_field :image %>
  </div>

  <div class="field">
    <%= f.label :host %>
    <%= f.text_field :host %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
